<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- We resume the logic in empty_world.launch, changing the name of the world to be launched -->
  <include file="$(find sawyer_gazebo)/launch/sawyer_world.launch">
    <arg name="electric_gripper" value="true"/>
  </include>

  <!-- Start the Sawyer world and set the initial joint configuration -->
  <node pkg="sawyer_oscr" type="table_blocks_world.py" name="table_blocks" />

</launch>
